<div class="fullwidth-header">
  <div id="header-text">
    <h1>Eat-Da-Burger!</h1>
    <p>What can we get you?</p>
  </div>
  <div id="order-form">
    <h2>Make a Burger</h2>
    <panel>
      <form class="create-form">
        <div class="form-group">
          <label for="newburger">Place an Order:</label>
          <input type="text" id="newburger" name="burger">
          <button type="submit" class="btn" id="addburger"><span class="fa fa-thumbs-up"></span></button>
        </div>
      </form>
    </panel>
  </div>
</div><!-- /end of header -->
<div class="container">

  <div class="row flex">
    <!-- Fresh Burgers -->
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading" id="lefthead"><strong>Fresh Burgers</strong></div>
        <div class="panel-body">
          <ul>
            {{#each burgers}}
            {{#unless eaten}}
            <span><strong> {{this.id}} - {{this.name}} </strong></span>
            <button type="button" class="eatburger btn" id="eatbutton" data-id="{{this.id}}"
              data-newEaten="{{eaten}}"><span class="fa fa-cutlery"></span></button>
            <hr>
            {{/unless}}
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
    <!-- Eaten Burgers -->
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading" id="righthead"><strong>Eaten Burgers</strong></div>
        <div class="panel-body">
          <ul>
            {{#each burgers}}
            {{#if eaten}}
            <span><strong> {{this.id}} - {{this.name}} </strong></span>
            <button type="button" class="deleteburger btn" id="deletebutton" data-id="{{this.id}}"
              data-newEaten="{{eaten}}"><span class="fa fa-trash"></span></button>
            <hr>
            {{/if}}
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </div><!-- /row -->

</div><!-- /container -->